[submodule "patientor_backend"]
	path = patientor_backend
	url = https://github.com/Miguel565/patientor-backend
[submodule "gym"]
	path = gym
	url = https://github.com/Miguel565/gym
[submodule "flight_diary_backend"]
	path = flight_diary_backend
	url = https://github.com/Miguel565/flight_diary_backend
[submodule "patientor_frontend"]
	path = patientor_frontend
	url = https://github.com/Miguel565/patientor
